[submodule "language_repositories/asciidoc_lang"]
	path = language_repositories/asciidoc_lang
	url = https://gitlab.eclipse.org/eclipse/asciidoc-lang/asciidoc-lang.git
[submodule "language_repositories/asciidoc_tck"]
	path = language_repositories/asciidoc_tck
	url = https://gitlab.eclipse.org/eclipse/asciidoc-lang/asciidoc-tck.git
[submodule "language_repositories/asciidoctor"]
	path = language_repositories/asciidoctor
	url = git@github.com:asciidoctor/asciidoctor.git
